body {
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poiret One', cursive;
}

.title {
    font-family: 'Poiret One', cursive;
    font-size: 55px;
}

.home {
    margin-top: 20%;
    background-color: white;
    opacity: 0.9;
    padding: 20px;
}

.header {
    background-color: white;
    opacity: 0.9;
    text-align: center;
    padding: 20px;

}

.panel {
    width: 100%;
    opacity: 0.9;
}
